:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: #ffffff;
  --text: #000000;
  --primary: #1e90ff;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}
